.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

label.error {
  color: #DB2828 !important;
  padding: 10px 10px 1px 10px;
  font-size: 0.9em !important;
  text-align: left
}